<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>My webpage
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <form>
                <input type="search" name="q" placeholder="Search">
                <input type="submit" value="Go!">
            </form>
        </nav>
    </header>

    <main>
        <article>
            <h2>Sample</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, molestias ipsa? In praesentium consectetur corporis animi quos repellendus magnam esse vitae eveniet sint blanditiis beatae, vel consequuntur harum reiciendis ad!</p>
        </article>

        <aside>
            <h2>Related</h2>
            <ul>
                <li><a href="#">Oh I do like to be beside the seaside</a></li>
                <li><a href="#">Oh I do like to be beside the sea</a></li>
                <li><a href="#">Although in the North of England</a></li>
                <li><a href="#">It never stops raining</a></li>
                <li><a href="#">Oh well...</a></li>
            </ul>
        </aside>
    </main>

    <footer>
        <p>@Copyright 2022 by Mehul. All rights reserved.</p>
    </footer>

</body>
</html>